$contacts-color: #f7f7f7
$text-color: #323232
$menu-color: #c3759e
$baner-color: #9e96bc
$white-color: #ffffff
$experience-text: #939393
$line-color: #ebebeb
$statistic-color: #282828
$futer-color: #816890

