.check
  background-color: $contacts-color
  &-block 
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 0 10px
    &__phone
      margin-right: 38px
      display: flex
      align-items: center
    &__addres
      display: flex
      align-items: center
  &__image
    margin-right: 12px 
  &__phone
    text-decoration: none
    color: $text-color 
    margin-top: 2px    
  &__contacts
    display: flex
    justify-content: flex-start
    align-items: center
    font-size: 15px
    line-height: 19px
  &__info  
    display: flex
    align-items: center
    justify-content: flex-end
    font-size: 14px
    line-height: 19px
    +bold
    font-weight: 500
  &__slesh
    display: block
    width: 1px
    height: 17px    
    margin-left: 12px
    margin-right: 9px
  &__check   
    letter-spacing: 0.4px  
.navbar
  &-block
    display: flex
    justify-content: space-between
    align-items: center
    padding: 18px 0 40px
    &__logo
      display: flex
      justify-content: flex-start
      align-items: flex-end
    &__title
      display: flex
      justify-content: flex-start
      align-items: flex-start 
      flex-direction: column
    &__menu
      display: flex
      justify-content: flex-start
      align-items: flex-start      
      margin-top: 30px
      margin-left: 3px 
    &__phone
      margin-top: 13px  
    &__paragraph
      font-size: 14px
      list-style: none 
      margin-right: 35px        
  &__title  
    font-size: 31px
    text-transform: uppercase
    letter-spacing: -0.6px
    margin-top: 17px
    +bold
    // display: block
  &__subtitle  
    font-size: 14px
    text-transform: uppercase
    letter-spacing: 1.6px    
    margin-bottom: -2px
    margin-top: 5px
    // display: block  
  &__logo
    margin-right: 8px
  &__paragraph
    text-decoration: none    
    text-transform: uppercase
    color: $text-color
    +bold
    font-weight: 599
    position: relative
    &:hover
      color: $menu-color
      &:after
        display: block
    &:after
      display: block
      content: ""
      position: absolute
      width: 60% 
      margin-left: 20%     
      height: 2px
      margin-top: 12px
      background-color: $menu-color
      display: none
  &__phone
    margin-right: 2px  

@media (max-width: 1199px)
  .navbar
    &__logo
      min-width: 90px
      width: 100%  
    &__title  
      font-size: 28px   
    &__subtitle  
      font-size: 12px
    &-block  
      &__paragraph
        margin-right: 25px
// @media (max-width: 991px)      


              
    

    
    


    
      


    




   