.service
  background-color: $contacts-color
  &-block
    padding: 43px 0 136px
    // display: flex
    // flex-direction: column
  &-header
    display: flex
    justify-content: space-between
    align-items: center  
    &__title
      font-size: 41px
      position: relative
      margin-bottom: 73px
      +bold
      &:after
        content: ""
        position: absolute
        left: 0
        bottom: -18px      
        width: 92px
        height: 3px
        background-color: $line-color
    &__button
      list-style: none       
    &__link
      text-transform: uppercase  
      text-decoration: none
      padding: 15px 23px 11px
      font-size: 14px
      color: $text-color      
      +bold
      // &:hover
      //   background-color: $menu-color 
      //   border-radius: 20px 
      //   color: $white-color   
    &__nav
      margin-top: -35px      
  &-menu
    display: flex
    justify-content: flex-end
    align-items: center  
  &-card
    max-width: 23%
    width: 100% 
    max-height: 529px
    height: 100%
    display: flex 
    background-color: $white-color 
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.08)   
    align-items: center
    flex-direction: column
    text-align: center
    padding-bottom: 37px
    // &:hover
    //   background-color: $menu-color       
    //   box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.08)
    //   color: $white-color
    //   .service
    //     &-card
    //       &__title
    //         color: $white-color
    //       &__cost
    //         &_big
    //           color: $white-color
          
    &__image
      margin-bottom: 34px
      width: 100%
    &__title
      display: block
      font-size: 22px
      line-height: 28px
      margin-bottom: 13px
      color: $menu-color
      +bold      
    &__subtitle
      display: block
      font-size: 15px
      line-height: 24px
      margin-bottom: 36px
      position: relative
      &:after        
        position: absolute
        content: ""
        left: 75px
        bottom: -21px
        width: 53px
        height: 2px
        background-color: $line-color         
    &__cost
      margin: auto
      display: block
      font-size: 14px
      line-height: 22px
      &_big
        color: $menu-color
        font-size: 24px
        +bold        
    &s      
      height: 100%
      display: flex
      justify-content: space-between
      align-items: center  

@media (min-width: 991px)
  .service
    &-header
      &__link      
        &:hover
          background-color: $menu-color 
          border-radius: 20px 
          color: $white-color  
    &-card
      &:hover
        background-color: $menu-color          
        color: $white-color
        .service
          &-card
            &__title
              color: $white-color
            &__cost
              &_big
                color: $white-color  
@media (max-width: 1199px)
  .service    
    &-block
      padding: 40px 0 120px
@media (max-width: 991px)
  .service 
    &-block
      padding: 20px 0 60px
    &__image
      width: 100%              
    &-card
      margin-left: 5%
      max-width: 32%
      margin-bottom: 35px
      &s
        justify-content: space-around
        flex-wrap: wrap
    &-header
      flex-direction: column  
      justify-content: center
      align-items: center  
      margin-bottom: 20px
      &__title     
        &:after          
          left: 80px
          bottom: -18px 
@media (max-width: 767px) 
  .service 
    &-header
      &__title
        font-size: 35px
        &:after          
          left: 65px
          bottom: -18px 
      &__link
        padding: 11px 18px 11px
    &-card
      margin-left: 10%
      max-width: 45%
      margin-bottom: 35px
      &__image
        margin-bottom: 15px
@media (max-width: 575px) 
  .service 
    &-menu
      padding: 0
      flex-direction: column  
      justify-content: center
      align-items: center
    &-header   
      &__button
        margin-bottom: 10px   
      &__link
        font-size: 15px
        padding: 11px 7px 11px
      &__title
        margin-bottom: 55px
    &-card      
      max-width: 70%
      margin-bottom: 35px
      &__image
        margin-bottom: 15px
      &__subtitle
        display: none          

  

                
         



       
      
      



